<!DOCTYPE html>
<html>

<head>
  {{#if page}}
  <title>{{capitalizeFirst page}} | Micael's Chess App</title>
  {{else}}
  <title>Micael's Chess App</title>
  {{/if}}
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  <link rel="stylesheet" href="/css/index.css" />
  {{#each styleResources as |styleResource|}}
  <link rel="stylesheet" href="{{styleResource}}" />
  {{/each}}

  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  {{#each jsResources as |jsResource|}}
  <script src="{{jsResource}}"></script>
  {{/each}}
</head>

<body>

  <div id="header" class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
      <a href="/" class="navbar-brand">
        <h3><img class="logo" src="/img/logo.png" style="width:36px" alt="Logo" srcset="">&nbsp; Chess App</h3>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-chess-rook"></i>&nbsp;Início</a>
          </li>
          <li class="nav-item">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">Jogo</button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start"
                  style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">
                  <a class="dropdown-item" href="/ranking">Ranking</a>
                  <a class="dropdown-item" href="/partida">Nova Partida</a>
                </div>
              </div>
            </div>
          </li>
          {{#if session.isLogged}}
          <li class="nav-item">
            <a class="nav-link" href="/cursos">Cursos</a>
          </li>
          {{/if}}
          <li class="nav-item">
            <a class="nav-link" href="/sobre">Sobre</a>
          </li>
          {{#if session.isLogged}}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Sair <span class="text-capitalize wrap-text" data-wrapb="[" data-wrapa="]">{{session.userName}}</span></a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/signup">Cadastrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><i class="fas fa-user"></i>&nbsp;Entrar</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    {{{body}}}

    <hr>
    <footer id="footer">
      <div class="row">
        <div class="col-lg-12">

          <ul class="list-unstyled">
            <li class="float-lg-right"><a href="#top">Voltar ao topo</a></li>
            <li><a href="https://blog.bootswatch.com" target="_blank" rel="noopener">Blog</a>
            </li>
            <li><a href="https://blog.bootswatch.com/rss" target="_blank" rel="noopener">RSS</a></li>
            <li><a href="https://twitter.com/bootswatch" target="_blank" rel="noopener">Twitter</a></li>
            <li><a href="https://github.com/thomaspark/bootswatch" target="_blank" rel="noopener">GitHub</a></li>
            <li><a href="https://bootswatch.com/help/#api" target="_blank" rel="noopener">API</a></li>
            <li><a href="https://bootswatch.com/help/#donate" target="_blank" rel="noopener">Donate</a></li>
          </ul>
          <p>Made by <a href="https://thomaspark.co">Thomas Park</a>.</p>
          <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE">MIT
              License</a>.</p>
          <p>Based on <a href="https://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a
              href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a
              href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>

        </div>
      </div>
    </footer>

  </div>

  <script type="text/javascript">
    $(document).ready(function activeNavBarLinkStyle() {
      $('li.active').removeClass('active');
      $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
    });
  </script>

  {{{__sections__.script}}}
</body>

</html>
