<div class="main__login">

  <div class="row">
    <div class="col">
      <h1>Acesse sua Conta</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <form action="/login" method="POST">

        <div class="form-group">
          <label for="email">Endereço de E-mail</label>
          <input class="form-control {{hasError errors "email"}}" type="email" name="email" id="email"
            placeholder="joao_byte@exemplo.com" value="{{user.email}}" autofocus required>
          <div class="invalid-feedback">{{getErrorMsg errors "email"}}</div>
        </div>

        <div class="form-group">
          <label for="password">Senha</label>
          <input class="form-control {{hasError errors "password"}}" type="password" name="password" id="password"
            placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" required>
          <div class="invalid-feedback">{{getErrorMsg errors "password"}}</div>
        </div>

        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="remember">
          <label class="custom-control-label" for="remember">Matenha-me conectado.</label>
        </div>

        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <button type="submit" class="btn btn-dark btn-lg btn-block mt-4">Acessar</button>
      </form>
    </div>
  </div>

</div>
